body{
background-color:#F78181;
color:black;
font-size:150%;
}

h{
text-align: center;
color:#8A0808;
font-size:250%;
}
b{
color:#088A08;
font-size:200;
}
c{
color:#7619BA;
font-size:200%;
}
